
div.main_log {
    width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.pos_item_log {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.pos_item_log:first-child {
    margin-top: 10px;
}

div.pos_item_log:last-child {
    margin-bottom: 10px;
}

div.prop_log {
    float: left;
    margin-right: 10px;
}

div.prop_log:last-child {
    float: none;
    margin-right: 0;
}

div.prop_log span:first-child {
    margin-right: 5px;
}

div.time_log span {
    margin-right: 5px;
}

.time_log_day {
    display: none;
}

.day_start .time_log_day {
    /*display: initial;*/
    display: block;
}

span.prop_button {
    float: right;
}

span.pos_button {
    float: right;
}

span.backto_button {
    float: right;
    margin-right: 0;
}

.glb_log {
    display: none;
}

.act_construction .glb_log {
    display: initial;
}

.act_construction .glb_log.fold_hide {
    display: none;
}

.exec_log_act {
    margin-right: 5px;
}

.exec_log span {
    margin-right: 5px;
}

.exec_log span:last-child {
    margin-right: 0;
}

.fold_apear {
    display: initial;
}

.fold_hide {
    display: none;
}

span.controller_req {
    margin-right: 5px;
}

span.controller_item:last-child {
    margin-right: 0;
}
